@font-face {
  font-family: "BlissPro";
  src: url(../fonts/blisspro_medium.woff2);
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-family: 'BlissPro';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #222222;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
}


.title {
  font-family: inherit; 
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 40px;
  text-align: center;
}

.subtitle {
  font-family: "Inter";
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}

.text {
  font-family: inherit; 
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 28px;
}

img {
  width: 100%;
  height: 100%;
}


/*Main*/
.return {
  position: relative;
  z-index: 1;
}

.returnToMainPage {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  margin-right: 8px;
}

.pageContact {
  color:  rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-left: 8px;
}

.main-contacts__section {
  display: flex;
  flex-direction: column;
  margin: 40px 0 80px;
  position: relative;
}


.main {
  padding: 80px 0;
}

.main__title-select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.main__title {
  /* H1_bold */
  font-family: "BlissPro", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
}

.header-cityAbout {
  margin-left: auto;
  cursor: pointer;
  padding-right: 4px;
}

.header-expandMoreAbout {
  cursor: pointer;
}

.main-select {
  margin-right: 20px;
}

.main__map {
  margin-bottom: 40px;
  align-self: end;
}

.main__contacts {
  display: flex;
  flex-direction: column;
}

.main__contacts-item {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.district {
  width: 300px;
  font-family: "BlissPro", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.main__contacts-address {
  width: 500px;
}

.street,
.opening-hours {
  font-family: "BlissPro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 9px;
}

.howCanIgetTo {
  font-family: "BlissPro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: #fdb913;
  text-transform: uppercase;
}

.contacts-phones {
  display: flex;
  flex-direction: column;
}

.main__contacts-phone {
  color: #222;
  font-family: 'BlissPro';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

.dropDown {
  position: absolute;
  top: 0;
  right: 0;
}

.dropDown-selectCity {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  height: 52px;
  width: 192px;
}

.dropDown-city {
  color: #222;
  font-family: 'BlissPro';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 20px;
}

.dropDown-img-down, .dropDown-img-up {
  margin-top: 14px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 20px;
}


.dropDown-img-up {
  display: none;
}

.dropDown-list {
  display: none;
  width: 192px;
  height: 528px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}

.dropDown__item {
  display: flex;
  align-items: center;
  color: #5E5E5E;
  font-family: 'BlissPro';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
  height: 48px;
  padding: 0 20px;
  cursor: pointer;
}

.dropDown__item:hover {
  color: #222;
  background-color: #E6E6E6;
}